* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header {
    /* height: 3200px;   */
    overflow: hidden; 
    position: relative;
}
.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
    height: 100vh;
}
.block {
    width: 1140px;
    height: 100px;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translate(0, -50%);

}
.header h1 {
    /* font-family: 'Fauna One', serif;
    font-family: 'Kufam', cursive;
    font-family: 'Quicksand', sans-serif; */
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;
    text-align: center;
    vertical-align: middle;

    /* padding-top: 400px; */
}
.fixed {
    position: fixed;
    padding-top: 0;
    top: 30px;
    left: 50%;
    transform: translate(-50%);

}
.fixed h1{
    padding-top: 0;
    position: relative;
}
.socials {
    margin-top: 10px;
    text-align: center;
}
.socials_icon:hover {
    opacity: .8;
    transition: all 0.5s ease-out;
}
.icon {
    display: inline-block;
    margin: 0 5px;
    width: 45px;
    height: 45px;
}
.icon_instagram {
    background: url(../icons/socials/min/instagram.png) no-repeat center center/contain;  
}
.icon_pinterest {
    background: url(../icons/socials/min/pinterest.png) no-repeat center center/contain; 
}
.icon_etsy {
    background: url(../icons/socials/min/etsy.png) no-repeat center center/contain; 
}
.icon_mail {
    background: url(../icons/socials/min/mail.png) no-repeat center center/contain; 
}

.background {
    position: relative;
    z-index: 3;
}
/* .b_cont {
    position: absolute;
    left: 50%;
    transform: translate(-150%, -150%);
} */
.abstract {
    position: fixed;
}
.ab1 {
    height: 570px;
    top: 12%;
    left: 46%;
}
.ab2 {
    height: 460px;
    top: 17%;
    left: 32%;
}
.ab3 {
    height: 390px;
    top: 47%;
    left: 34%;
}
.ab4 {
    height: 270px;
    top: 22%;
    left: 36%;
}
.ab5 {
    height: 570px;
    top: 13%;
    left: 51%;
}
.ab6 {
    height: 390px;
    top: 52%;
    left: 32%;
}
.ab7 {
    height: 450px;
    top: 19%;
    left: 35%;
}
.ab8 {
    height: 290px;
    top: 18%;
    left: 35%;
}
.ab9 {
    height: 320px;
    top: 63%;
    left: 30%;
}
.ab10 {
    height: 210px;
    top: 14%;
    left: 53%;
}


.gallery {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*align-content: space-around; */
    z-index: 8;
}

.gallery_item_link {
    margin-bottom: 40px;
    transition: all 0.5s ease-out;
    text-decoration: none;
    position: relative;
}
.overlay {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all 0.5s ease-out;
}

.gallery_item_link:hover {
    transform: translateY(-5px);
    transition: all 0.5s ease-out;
}
.gallery_item_link:hover .gallery_item span{
    display: block;
}

.gallery_item_link:hover .overlay{
    background-color: rgba(255, 255, 255, 0.5);

}

.gallery_item {
    height: 370px;
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gallery_item span {
    display: none;
    background-color: #000;
    color: #ffffff;
    padding: 5px;
    position: relative;
    z-index: 12;
}

.gallery_item.item_1 {
    background: url(../imgs/img1.jpg) no-repeat center center/cover;  
}
.gallery_item.item_2 {
    background: url(../imgs/img2.jpg) no-repeat center center/cover;  
}
.gallery_item.item_3 {
    background: url(../imgs/img3.jpg) no-repeat center center/cover;  
}
.gallery_item.item_4 {
    background: url(../imgs/img2.jpg) no-repeat center center/cover;  
}
.gallery_item.item_5 {
    background: url(../imgs/img1.jpg) no-repeat center center/cover;  
}
.gallery_item.item_6 {
    background: url(../imgs/img1.jpg) no-repeat center center/cover;  
}
.gallery_item.item_7 {
    background: url(../imgs/img2.jpg) no-repeat center center/cover;  
}
.gallery_item.item_8 {
    background: url(../imgs/img2.jpg) no-repeat center center/cover;  
}
.gallery_item.item_9 {
    background: url(../imgs/img3.jpg) no-repeat center center/cover;  
}
.gallery_item.item_10 {
    background: url(../imgs/img1.jpg) no-repeat center center/cover;  
}
@import url('blocks/media.css');
